.extension-sorter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px 30px 0px;
}

.extension-filter {
  width: min-content;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50px;

  user-select: none;

  background-color: var(--gray-alt);
  border: 2px solid rgba(255, 255, 255, 0.099);
  transition: 200ms;
}

.filter-button:hover {
  background-color: var(--light-gray);
}

/* Extension cards */
.extensions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}

.extension {
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  padding: 20px;
  background-color: var(--gray);
}

.extension-info-container {
  display: flex;
  gap: 20px;
  height: 135px;
}

.extension-info-container h2 {
  font-weight: 700;
  font-size: 22px;
}

.extension-info-container p {
  color: rgb(160, 160, 160);
}

.extension-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.remove-button {
  border-radius: 60px;
  border: 1px solid var(--light-gray);
  width: min-content;
  padding: 10px 18px;
  font-weight: 500;

  transition: 200ms;
}

.remove-button:hover {
  color: var(--blue);
  background-color: var(--light-red);
  border: 1px solid var(--light-red);
}

.extension-interactions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* checkbox */
input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 3.2em;
  height: 1.8em;
  border-radius: 4em;
  background-color: var(--light-gray);

  transition: 200ms;

  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--light-red);
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  border-radius: 2em;
  background-color: white;
  box-shadow: 0 0 3px rgba(21, 21, 21, 0.729);
  transform: scale(0.8);
  left: 0;
  transition: left 0.2s ease-in-out;
}

input[type="checkbox"]:checked::after {
  left: 1.4em;
}
