.extension-sorter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px 30px 0px;
}

.extension-filter {
  width: min-content;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 400;

  user-select: none;

  background-color: var(--filter-gray);
  border: 2px solid var(--filter-border);
  transition: 200ms;
}

[data-theme="light"] .filter-button {
  box-shadow: 0px 0px 2px var(--filter-border);
}

.filter-button:hover {
  background-color: var(--filter-hover);
  color: var(--filter-text-hover);
}

[data-theme="light"] .filter-button:hover {
  box-shadow: none;
}

.filter-active {
  background-color: var(--filter-red);
  color: var(--filter-text);
  border-color: var(--filter-red);
}
.filter-active:hover {
  background-color: var(--filter-red-hover);
  border-color: var(--filter-red-hover);
  color: var(--filter-text);
}

/* Extension cards */
.extensions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}

.extension {
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  padding: 20px;
  background-color: var(--gray);
}

[data-theme="light"] .extension {
  box-shadow: 0px 2px 7px var(--filter-border);
  border-color: rgba(70, 70, 70, 0.162);
}

.extension-info-container {
  display: flex;
  gap: 20px;
  height: 135px;
}

.extension-info-container h2 {
  font-weight: 700;
  font-size: 22px;
}

.extension-info-container p {
  color: rgb(160, 160, 160);
}

[data-theme="light"] .extension-info-container p {
  color: rgb(95, 95, 95);
}

.extension-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.remove-button {
  border-radius: 60px;
  border: 1px solid var(--light-gray);
  width: min-content;
  padding: 10px 18px;
  font-weight: 500;
  user-select: none;

  transition: 200ms;
}

[data-theme="light"] .remove-button:hover {
  color: white;
  background-color: var(--red);
}

.remove-button:hover {
  color: var(--blue);
  background-color: var(--light-red);
  border: 1px solid var(--light-red);
}

.extension-interactions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* checkbox */
input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 3.2em;
  height: 1.8em;
  border-radius: 4em;
  background-color: var(--light-gray);

  transition: 200ms;

  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--light-red);
}
[data-theme="light"] input[type="checkbox"]:checked:hover {
  background-color: var(--red);
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  border-radius: 2em;
  background-color: white;
  box-shadow: 0 0 3px rgba(21, 21, 21, 0.729);
  transform: scale(0.8);
  left: 0;
  transition: left 0.2s ease-in-out;
}

input[type="checkbox"]:checked::after {
  left: 1.4em;
}

@media (max-width: 1200px) {
  .extensions-container {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .extension-sorter-container {
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 700px) {
  .extensions-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .extension-sorter-container {
    flex-direction: column;
    gap: 20px;
  }
}
