@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

[data-theme="light"] {
  --background: linear-gradient(
    180deg,
    rgb(226, 240, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  --foreground: var(--blue);

  --gray: #f4faff;
  --gray-alt: #f8fcff;
  --light-gray: rgb(193, 193, 193);
  --red: #db4332;
  --light-red: #db261f;
  --blue: #0a1035;
}
[data-theme="dark"] {
  --background: linear-gradient(
    180deg,
    rgb(6, 12, 26) 0%,
    rgb(13, 25, 67) 100%
  );
  --foreground: #ffffff;

  --gray: #212634;
  --gray-alt: #293143;
  --light-gray: #505663;
  --red: #db4332;
  --light-red: #f75a55;
  --blue: #0a1035;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
}

.view-wrapper {
  width: calc(100vw - 17%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

main {
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
}

:focus-visible {
  outline: solid 3px #db4332;
  outline-offset: 2px;
}
@media (max-width: 1200px) {
  .view-wrapper {
    width: calc(100vw - 8%);
  }
}
