@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gray: #212634;
  --gray-alt: #293143;
  --light-gray: #505663;
  --red: #db4332;
  --light-red: #f75a55;
  --blue: #0a1035;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p,
h1,
h2,
div,
body {
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

body {
  color: var(--foreground);
  background: rgb(3, 10, 36);
  background: linear-gradient(180deg, rgb(6, 12, 26) 0%, rgb(13, 25, 67) 100%);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
}

.view-wrapper {
  width: calc(100vw - 17%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
main {
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
}

.unhoverable:hover {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
